  body {
  	background: linear-gradient(to right, 
  	#3f51b5,black);
  	margin: 0;
  	padding: 0;
  	display: flex;
  	width: 100%;
  	height: 100vh;
  }

  .charge {
  	position: relative;
  	width: 200px;
  	height: 100px;
  	border: 6px solid #ffff;
  	margin: auto;
  }

  .charge::before{
  	content: "";
  	position: absolute;
  	width: 10px;
  	height: 90px;
  	background: #ffff;
  	top: 4px;
  	left: 5px;
  	animation: move 2s linear infinite;
  }

  @keyframes move{
  	50%{
  		width: 100%;
  	}
  }
  .charge::after{
  	content: "";
  	position: absolute;
  	width: 20px;
  	height: 70px;
  	background: #ffff;
  	top: 14px;
  	left: 200px;
  	border-radius: ;
  }